<h2>Add car owner</h2>

<p>
  <label>Name:</label>
  <input [(ngModel)]="name">
</p>

<form [formGroup]="carForm">

  <p>
    <label>Select Car VIN number: (Optional)</label>
    <select formControlName="car">
      <option [ngValue]="null" disabled>Select Car</option>
      <option *ngFor="let car of cars" [ngValue]="car.id">{{car.number}}</option>
    </select>
  </p>

</form>

<form [formGroup]="orderForm">

  <p>
    <label>Select Order description: (Optional)</label>
    <select formControlName="order">
      <option [ngValue]="null" disabled>Select Order</option>
      <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
    </select>
  </p>

</form>


<button (click)="add()">Add</button>
