<h2>Add car owner</h2>

<p>
  <label>Name:</label>
  <input [(ngModel)]="name" name="name" placeholder="Enter Name">
</p>

<p>
  <label>Surname:</label>
  <input [(ngModel)]="lastName" name="lastName" placeholder="Enter surname">
</p>

<p>
  <label>Phone:</label>
  <input [(ngModel)]="phone" name="phone" placeholder="Enter phone">
</p>

<!--<form [formGroup]="carForm">-->

<!--  <p>-->
<!--    <label>Select Car (Optional)</label>-->
<!--    <select formControlName="car">-->
<!--      <option [ngValue]="null" disabled>Select Car</option>-->
<!--      <option *ngFor="let car of cars" [ngValue]="car.id">{{car.brand + " " + car.model + " " + car.year + " " + car.number}}</option>-->
<!--    </select>-->
<!--  </p>-->

<!--</form>-->

<div class="button-container">
  <button (click)="add()" [disabled]="!name || !lastName || !phone">NEXT</button>
  <button class="skip-btn" (click)="skip()">SKIP</button>
</div>

