<div *ngIf="mechanic">
  <p>
    <label>Name:</label>
    <input [(ngModel)]="name">
  </p>

  <p>
    <label>Surname:</label>
    <input [(ngModel)]="lastName">
  </p>

  <form [formGroup]="orderForm">

    <p>
      <label>Select Finished Order</label>
      <select formControlName="order">
        <option [ngValue]="null" disabled>Select Order</option>
        <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
      </select>
    </p>

  </form>

  <div class="button-container">
    <button (click)="goBack()">PREV</button>
    <button
      (click)="save()"
      [disabled]="
      !name ||
      !lastName
    "
    >
      SAVE
    </button>
  </div>
</div>
