<div *ngIf="mechanic">
  <p style="margin-top: 10px">
    <label>Name:</label>
    <input [(ngModel)]="name">
  </p>

  <form (ngSubmit)="submitOrder()" [formGroup]="orderForm">

    <p>
      <label>Select Finished Order</label>
      <label> By Description: </label>
      <select formControlName="order">
        <option [ngValue]="null" disabled>Select Order</option>
        <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
      </select>

      <button style="margin-top: 5px" type="submit">Submit</button>
    </p>

  </form>

  <button (click)="goBack()">Go back</button>
  <button (click)="save()" style="margin-top: 5px">Save</button>
</div>
