<div *ngIf="order">
  <h2>Order Details</h2>
  <form [formGroup]="statusForm">

    <p>
      <label>Select status</label>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses"
                [value]="status">
          {{statusMapping[status]}}
        </option>
      </select>
    </p>

  </form>

  <div class="button-container">
    <button (click)="goBack()">PREV</button>
    <button
      (click)="save()"
      [disabled]="
      !statusForm.get('status')?.value
    "
    >
      SAVE
    </button>
  </div>
</div>

