<div *ngIf="order">
  <h2>Order Details</h2>
  <form (ngSubmit)="submitStatus()" [formGroup]="statusForm">

    <p>
      <label>Select status</label>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses"
                [value]="status">
          {{statusMapping[status]}}
        </option>
      </select>

      <button type="submit">Submit</button>
    </p>

  </form>

  <button (click)="goBack()">Go Back</button>
  <button (click)="save()" style="margin-top: 5px">Save</button>
</div>

