<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mechanic of mechanics">
    <td>{{ mechanic.id }}</td>
    <td>{{ mechanic.name }}</td>
    <td>{{ mechanic.lastName }}</td>
    <td>{{ mechanic.status }}</td>
    <td>
      <button (click)="update(mechanic.id)">Update</button>
      <button (click)="getSalary(mechanic.id)">Get Salary</button>
      <button (click)="getFinishedOrders(mechanic.id)">Get Finished Orders</button>
    </td>
  </tr>
  <tr *ngIf="!mechanics">
    <td colspan="4">No mechanics found.</td>
  </tr>
  </tbody>
</table>
