<div *ngIf="task">
  <form (ngSubmit)="submitPaymentStatus()" [formGroup]="paymentStatusForm">

    <p>
      <label>Select payment status:</label>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses"
                [value]="status">
          {{paymentStatusMapping[status]}}
        </option>
      </select>

      <button style="margin-top: 5px" type="submit">Submit</button>
    </p>

  </form>
  <button (click)="goBack()">Go back</button>
  <button (click)="save()" style="margin-top: 5px">Save</button>
</div>
