<div *ngIf="task">
  <form [formGroup]="paymentStatusForm">

    <p>
      <label>Select payment status:</label>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses"
                [value]="status">
          {{paymentStatusMapping[status]}}
        </option>
      </select>
    </p>

  </form>

  <div class="button-container">
    <button (click)="goBack()">PREV</button>
    <button
      (click)="save()"
      [disabled]="
      !paymentStatusForm.get('status')?.value
    "
    >
      SAVE
    </button>
  </div>
</div>
