<header>
  <nav>
    <ul>
      <li><a href="/" class="logo-link"><img src="./assets/img/Group%201.png" alt="Logo"></a></li>
      <li><a href="/orders-info" class="nav-link">Orders</a></li>
      <li><a href="/car-info" class="nav-link">Cars</a></li>
      <li><a href="/car-owner-info" class="nav-link">Owners</a></li>
      <li><a href="/mechanic-info" class="nav-link">Mechanics</a></li>
      <li><a href="/task-info" class="nav-link">Tasks</a></li>
      <li><a href="/product-info" class="nav-link">Products</a></li>
    </ul>
  </nav>
</header>

