<div *ngIf="order">
  <h2>Order Details</h2>

  <h3>Products of this order:</h3>
  <div *ngFor="let item of order.products">
    {{item.title}} -- {{item.price}}
  </div>

  <form (ngSubmit)="submitProduct()" [formGroup]="productForm">

    <p>
      <label>Select Product</label>
      <label> By Title:</label>
      <select formControlName="product">
        <option [ngValue]="null" disabled>Select Product</option>
        <option *ngFor="let product of products" [ngValue]="product.id">{{product.title}}</option>
      </select>

      <button type="submit">Submit</button>
    </p>

  </form>

  <button (click)="goBack()">Go Back</button>
  <button (click)="save()" style="margin-top: 5px">Save</button>
</div>
