<div *ngIf="order">
  <h2>Order Details</h2>

  <h3>Products of this order:</h3>
  <div *ngFor="let item of order.products">
    {{item.title}} -- {{item.price}}
  </div>

  <form [formGroup]="productForm">

    <p>
      <label>Select Product</label>
      <select formControlName="product">
        <option [ngValue]="null" disabled>Select Product</option>
        <option *ngFor="let product of products" [ngValue]="product.id">{{product.title}}</option>
      </select>
    </p>

  </form>

  <div class="button-container">
    <button (click)="goBack()">PREV</button>
    <button
      (click)="save()"
      [disabled]="
      !productForm.get('product')?.value
    "
    >
      SAVE
    </button>
  </div>
</div>
