<div *ngIf="order">
  <h2>Order Details</h2>
  <form [formGroup]="carForm">
    <p>
      <label>Select Car</label>
      <select formControlName="car">
        <option [ngValue]="null" disabled>Select Car</option>
        <option *ngFor="let car of cars" [ngValue]="car.id">{{car.brand + " " + car.model + " " + car.year + " " + car.number}}</option>
      </select>
    </p>
  </form>

  <p>
    <label>Description:</label>
    <input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" />
  </p>

  <form [formGroup]="taskForm">
    <p>
      <label>Select Task</label>
      <select formControlName="task">
        <option [ngValue]="null" disabled>Select Task</option>
        <option *ngFor="let task of tasks" [ngValue]="task.id">{{task.title}}</option>
      </select>
    </p>
  </form>

  <form [formGroup]="productForm">
    <p>
      <label>Select Product</label>
      <select formControlName="product">
        <option [ngValue]="null" disabled>Select Product</option>
        <option *ngFor="let product of products" [ngValue]="product.id">{{product.title + " " + product.price + "$"}}</option>
      </select>
    </p>
  </form>

  <p>
    <label>Date Finished: </label>
    <mat-form-field style="color: #607D8B" appearance="fill">
      <mat-label style="color: #607D8B">Choose a date</mat-label>
      <input style="color: #607D8B" [(ngModel)]="selectedDate" [matDatepicker]="picker" matInput>
      <mat-datepicker-toggle style="color: #607D8B" [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker style="color: #607D8B" #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <form [formGroup]="statusForm">

    <p>
      <label>Select status</label>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses"
                [value]="status">
          {{statusMapping[status]}}
        </option>
      </select>
    </p>

  </form>

  <div class="button-container">
    <button (click)="goBack()">PREV</button>
    <button
      (click)="updateOrder()"
      [disabled]="
      !carForm.get('car')?.value ||
      !taskForm.get('task')?.value ||
      !productForm.get('product')?.value ||
      !statusForm.get('status')?.value ||
      !description
    "
    >
      UPDATE
    </button>
  </div>
</div>
